.login-container {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(190deg,#fbe5f7,#fff);
  transition: .2s;
  overflow-x: hidden;
}

.login-card {
  display:flex;
  border: 4px solid rgba(255, 255, 255, 0.933);
  width: 80%;
  height: 500px;
  border-radius:8px;
  background: linear-gradient(190deg,#fbe5f7,#fff);
  flex-flow: row wrap;
  flex-direction: row-reverse;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .25);
  color: #828282;
}

.login-card .login-section {
  display:flex;
  flex-flow: column;
  width: calc(43% - 120px);
  padding: 0 60px;
  height: 100%;
  background: rgba(255, 255, 255, .85);
}

.login-section img{
  width: 160px;
  margin-top:20px;
}

.login-card .login-section h1{
    font-size: 28px;
    margin-bottom:0;
}
.login-card .login-section p{
    font-size: 13px;
    font-weight: 500;
    color: #9e9d9d;
    margin-left: 1px;;
}
.login-section .continue-google{
  display: flex;
  width: 100%;
  word-spacing: 5px;
  padding: 5px 10px;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  background: #fff;
  font-size: 14px;
  font-weight: 700;
  color: #828282;
  cursor:pointer;
  transition: 0.6s;
  margin-top: 2px;
}

.login-section .continue-google:focus{
  box-shadow: 0 0 0 3px rgba(232,232,232, .5);
}

.login-section .continue-google img{
  display:inline-block;
  margin: 0;
  margin-right: 20px;
  width: 25px;
  height: 25px;
}

.alt-action{
  margin: 25px 0 5px 0;
  font-size: 12px;
  font-weight: 600;
  color: #9e9d9d;
  text-align: center;
}

.login-form {
  flex-flow: column;
  width: 100%;
}

.login-form label {
  display:flex;
  flex-direction: column;
  margin: 10px 0;
}

.login-form input:not([type="checkbox"]) {
  height: 35px;
  border: 1px solid #ded2d9;
  outline: none;
  border-radius: 5px;
  margin-top: 3px;
  padding-left: 5px;
  transition: .6s;
  color: #828282;
}

.login-form input:not([type="checkbox"])::placeholder{
  color: #e0e0e0;
}

.login-form input:not([type="checkbox"]):focus{
  box-shadow: 0 0 0 3px #ded2d9;
}

.login-form .extra-cta{
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 10px  0 15px 0;
  font-size: 14px;
  font-weight: 500;
}

.login-form .extra-cta a{
  text-decoration: none;
  color: var(--theme-color);
}

.login-form label.remember {
  flex-flow: row;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.login-section  .btn {
  font-weight: 600;
  letter-spacing: 0.0051em;
}

.login-card .brand-content {
  width: 57%;
  overflow: hidden;
}
.login-card .brand-content img {
  display: block;
  height: calc(100% - 300px);
  margin: 0 auto;
  margin-top: 80px;
}

.login-card .brand-content p {
  color: #bb0ce5;
  font-style: var(--theme-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

@media screen and (max-width: 1155px) {
  .login-card {
    height: auto;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 900px) {
  .login-card {
    flex-direction: column;
  }
  .login-card .login-section {
    width: calc(100% - 120px);
  }
  .login-card .brand-content {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .login-card{
    width: 100%;
    height: auto;
    min-height: 100vh;
  }
  .login-card .login-section {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
  .login-form .extra-cta{
    margin: 15px 0 !important;
  }
}